################################################################################
# Clarion
################################################################################

# User-specific files
*.scn
*.rsc
*.obj
*.dll
*.exe
*.bpp
*.bct
